<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>FWD required permission to scan QR code for fetching restaurant information.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>FWD want access photo library for get image</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Font provided by application</key>
	<array>
		<string>Gordita Black Italic.otf</string>
		<string>Gordita Black.otf</string>
		<string>Gordita Bold Italic.otf</string>
		<string>Gordita Bold.otf</string>
		<string>Gordita Light Italic.otf</string>
		<string>Gordita Light.otf</string>
		<string>Gordita Medium Italic.otf</string>
		<string>Gordita Medium.otf</string>
		<string>Gordita Regular Italic.otf</string>
		<string>Gordita Regular.otf</string>
		<string>Gordita Thin Italic.otf</string>
		<string>Gordita Thin.otf</string>
		<string>Gordita Ultra Italic.otf</string>
		<string>Gordita Ultra.otf</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<string>instagram</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>ProfileCreateUpdate</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
